.error {
    color: red;
}

button {
    background-color: rgb(251, 242, 116);
    border-width: 1px;

    &:hover {
        background-color: rgb(99, 198, 209);
    }
}

input[type=text] {
    outline: none;
    margin-bottom: 5px;

    &:focus {
        border: 2px solid #ebd87a;
    }
}