.card {
    background-color: rgb(34, 94, 114);
    height: 40px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex;
    align-items: center;
    flex-direction: row;
}

label {
    color: white;
    margin-left: 10px;
    width: 95%;
}